<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Controle de estoque</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>body {padding-top: 60px;}</style>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/messages_pt_BR.js"></script>
    <script src="/js/jquery.validate.bootstrap.js"></script>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Controle de estoque</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="/cgi-bin/colaboradores">Colaboradores</a></li>
                        <li><a href="/cgi-bin/itens">Itens</a></li>
                        <li><a href="/cgi-bin/retiradas">Retiradas</a></li>
                        <li><a href="/cgi-bin/relatorios">Relatório de utilização</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">